/*
 * Globals
 */

body {
	margin: 0;
	background: url(images/footer_lodyas.png) rgb(64, 64, 64);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Source Sans Pro', serif;
	font-size: 16px;
	font-size: 1em;
	color: black;
}

.wrapper {
	background-color: rgba(250,200,238, .7);
	margin: auto;
	margin-top: 10%;
	width: 70%;
	height: 100%;
	padding: 20px;
	text-align: center;
	border-radius: 7px;
}

span {
    font-size: 24px;
	font-size: 1.5rem;
	font-weight: bold;
}

#launchButton,
#launchButton:hover,
#launchButton:focus {
  color: #333;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  font-size: 16px;
  font-size: 1.5rem;
  font-weight: bold;
}

.lit {
	text-align: left;
}